@import 'partials/button.scss';
@import 'variables.scss';
@import 'reset.scss';
body {
    background-color: $color-white;
    font-size: 12px;
}

h2 {
    color: $color-cadet;
    font-family: $font-titles;
    font-size: 2em;
    font-weight: $bold;
}

p {
    font-family: $font-text;
    font-size: 1.3em;
    color: $color-jet;
    font-weight: $regular;
}

.product {
    font-size: 1em;
    padding: 22px;
    h2 {
        margin-bottom: 1em;
    }
    &__list {}
    &__item {
        border: 1px solid $color-border;
        padding: 25px;
    }
    &__image {
        display: block;
        margin-bottom: 3em;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
    }
    &__name {
        color: $color-jet;
        margin-bottom: 1em;
    }
    &__price {
        color: $color-cadet;
        margin-bottom: .5em;
        span {
            color: $color-nonPhotoBlue;
            font-weight: $bold;
        }
    }
    &__conditions {
        color: $color-cadet;
        margin-bottom: 1em;
    }
}

footer {
    background-color: $color-gainsboro;
    height: 32vh;
}