// COLORS
$color-gainsboro: #e0dcdc;
$color-nonPhotoBlue: #353f4f;
$color-jet: #303132;
$color-cadet: #5e6774;
$color-safetyOrange: #ff6600;
$color-raisinBlack: #1f2125;
$color-white: #ffffff;
$color-border: #edeaea;
// FONTS
$font-titles: 'Roboto Condensed';
$font-text: 'Roboto';
$bold: 700;
$regular: 400;